<h1>Editing Article</h1>



<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>


<section class="Editing_article">

  <div class="updating_form">
    <%= render 'form', article: @article %>
  </div>

  <div class="tool_box">
    Add a paragraph
    Add an image
  </div>

  <div class="creating_elements">
    Elements
  </div>
